.dictation-option-line, .dictation-result-option-line {
	font-size: 1.7rem;
}

.dictation-option-line, .dictation-question-box
, .dictation-result-option-line, .dictation-result-box {
	margin: auto;
	margin-top:30px;
	width:70%;
}

.dictation-question-box {
	height: 70vh;
	display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.dictation-mean-area, .dictation-answer-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 70%;
}

.dictation-mean-area h1:first-child {
	font-size: 4rem;
}

.dictation-mean-area h1:nth-child(2) {
	font-size: 3rem;
}

.progress {
	--bs-gutter-x: 0;
	width: 25%;
	height: 20px;
	margin: auto;
}

.dictation-accuracy-rate {
	font-size: 19px;
}

.dictation-answer-and-wrongAnswer {
	margin-top: 30px;
	margin-bottom: 0px;
}