.container {
    margin-left: 60px;
}

.carousel-item {
    height: 60vh;
    background-position: center;
}

.carouselRow, .game-option-area {
	width: 70%;
	margin: auto;
	margin-top: 20px;
}


.carousel-item:nth-of-type(1) {
    background-color: #ffe8a1; /* 부드러운 베이지색 */
}
.carousel-item:nth-of-type(2) {
    background-color: #a8d5ba; /* 부드러운 녹색 */
}
.carousel-item:nth-of-type(3) {
    background-color: #a1c4ff; /* 부드러운 파란색 */
}

.carousel-caption p {
    color: black;
}

.carousel-control-prev,
.carousel-control-next {
	background-color: black;
	width: 13%;
}

.carousel-control-prev {
	left: 10px;
}

.carousel-control-next {
	right: 10px;
}

.carousel-item i {
	font-size: 164px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.set-rule, .carousel-caption h5, p {
	font-size: x-large;
}

h3:not(.notMargin) {
    margin-top: 20px;
}

.set-rule {
	margin-top: 10px;
}

i {
	cursor : pointer;
}

.word-list-group {
	list-style-type: none;
	padding-left: 0;
}


.vertical-line {
  position: relative;
}

.vertical-line::before {
  content: "";
  position: absolute;
  top: 2%;
  left: 50%;
  width: 0.1px; /* 세로선의 두께 */
  height: 95%;
  background-color: black; /* 세로선의 색상 */
  transform: translateX(-50%);
}


.col-2.blue,
.col-2.red {
	display: flex;
	justify-content: center;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

.bi-circle, .bi-x {
	margin-right: 5px;	
}

.answer-area {
	width
}

.game-log {
    background-color: #f8f9fa; 
}

.file-title, 
.game-category, 
.language-category, 
.score-print, 
.date-print {
    display: block; 
    margin-bottom: 0.5rem;
}

strong {
    font-weight: 500; 
}
