<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!----======== CSS ======== -->
<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}" />
<link
	href="https://cdn.jsdelivr.net/emojione/2.2.7/assets/css/emojione.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{../css/sidebar.css}">
<link rel="stylesheet" th:href="@{../css/openchat.css}">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
	rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>
<!-- ======== JS ======== -->
<script th:src="@{/js/jQuery-3.7.0.js}"></script>
</head>
<body>
	<input type="hidden" id="chatroom" th:value="${chatroom}">
	<input type="hidden" id="myChatroomLink" th:value="${myChatroomLink}">
	<input type="hidden" id="chatLinks" th:value="${chatLinks}">

	<nav class="sidebar close">
		<header>
			<div class="image-text">
				<span class="image"> <img th:src="@{../img/로고.png}" alt="">
				</span>

				<div class="text logo-text">
					<span class="name">LingoSwap</span>
				</div>
			</div>
			<i class='bx bx-chevron-right toggle'></i>
		</header>

		<div class="menu-bar">
			<div class="menu">
				<ul class="menu-ul">
					<li><a th:href="@{/member/home}"> <i
							class='bx bx-home-alt icon'></i> <span class="text nav-text">Home</span>
					</a></li>

					<li><a th:href="@{/feed/feedMain}"> <i
							class='bx bx-detail icon'></i> <span class="text nav-text">Feed</span>
					</a></li>

					<li><a th:href="@{/note/noteMain}"> <i
							class='bx bx-edit icon'></i> <span class="text nav-text">Note</span>
					</a></li>

					<li><a th:href="@{/chat/openChatMain}"> <i
							class='bx bx-message-square-dots icon'></i> <span
							class="text nav-text">Message</span>
					</a></li>

					<li><a th:href="@{/game/gameMain}"> <i
							class='bx bx-game icon'></i> <span class="text nav-text">Game</span>
					</a></li>
				</ul>
			</div>
			<!-- ========================사이드바 하단=========================== -->
			<div class="bottom-content">
				<ul class="menu-ul">
					<li class="">
						<div sec:authorize="isAuthenticated()">
							<a th:href="@{/member/logout}"> <i class='bx bx-log-out icon'></i>
								<span class="text nav-text">Logout</span>
							</a>
						</div>
					</li>
					<li class="">
						<div sec:authorize="isAuthenticated()">
							<a th:href="@{/member/myPage}"> <span
								id="profileImagePlaceholder" data-tooltip="프로필 사진으로 이동합니다."></span>
								<span class="text nav-text">Profile</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container home">
		<div class="row">
			<div class="col-md-3 pe-0 hide-chat-list">
				<div class="card border-primary mb-3 chat-list-area">
					<div class="card-header">
						<!-- DM & OpenChat Buttons -->
						<div class="mb-2 d-center mb-3">
							<button type="button" class="btn btn-primary me-2" th:id="DM_btn">DM</button>
							<button type="button" class="btn btn-outline-primary ms-2"
								th:id="OpenChat_btn">Open Chat</button>
						</div>

						<!-- Search Bar -->
						<div class="mt-2 d-flex align-items-center position-relative">
							<input type="text" class="form-control"
								placeholder="Search chat title" id="searchInput"> <i
								class="bi bi-search search-outline position-absolute"
								style="right: 10px; z-index: 2;"></i>
						</div>
					</div>
					<div class="card-body">
						<div class="chatlist"></div>
					</div>
				</div>
			</div>
			<!--채팅 화면-->
			<div class="col-md-7 ps-0 pe-0 chat-box-area">
				<div class="card border-primary mb-3 chat-box">
					<div
						class="card-header d-flex justify-content-between align-items-center">
						<!-- 좌측 버튼 추가 -->
						<button id="toggleChatList" class="btn btn-sm btn-primary">Hide
							Chat List</button>
						<!-- 중앙 텍스트 -->
						<span>Chat Room</span>
						<!-- 우측 버튼 추가 -->
						<button id="toggleParticipants" class="btn btn-sm btn-primary">Hide
							Participants</button>
					</div>
					<!-- chatbox -->
					<ul class="chatbox list-group list-group-flush h-100"
						id="msg_chatBoxArea">
						<li th:each="msg, i : ${messages}"
							th:attr="data-user-num=${msg.user_num}">
							<div th:if="${msg.user_num == myChatroomLink.user_num}"
								class="msg_content chat outcoming">
								<p th:text="${msg.message}"></p>
							</div>
							<div th:if="${msg.user_num != myChatroomLink.user_num}"
								class="msg_content chat incoming">
								<span class="nickname-label"></span>
								<p th:text="${msg.message}"></p>
							</div>
						</li>
					</ul>
					<!-- chat input -->
					<div class="card-footer d-flex align-items-center">
						<div class="input-group">
							<textarea id="msg_input" class="form-control"
								placeholder="메세지를 입력하세요"></textarea>
							<button type="submit" id="msg_submit" class="btn btn-primary">Send</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 참가자 목록 -->
			<div class="col-md-2 ps-0 pe-0 hide-participants">
				<div class="card border-primary mb-3 participants-area">
					<div class="card-header">Participants</div>
					<div class="card-body">
						<div class="participants_list">
							<div class="participants"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="offcanvas offcanvas-start" data-bs-scroll="true"
		tabindex="-1" id="offcanvasWithBothOptions-chat"
		aria-labelledby="offcanvasWithBothOptionsLabel-chat">
		<div class="offcanvas-header text-center my-3">
			<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel-chat">User
				Profile</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
				aria-label="Close"></button>
		</div>
		<div class="offcanvas-body text-center">
			<div id="userProfileContent-chat">
				<!-- 프로필 사진과 사용자 이름 -->
				<a href="javascript:void(0);" class="goToOtherProfile-chat">
					<div
						class="d-flex align-items-center mb-3 my-3 justify-content-center">
						<img id="original_profile-chat" src="" alt="User Profile Picture"
							class="posterImage rounded-circle me-3"
							style="width: 90px; height: 90px;"
							data-username="someUsername-chat">
						<h5 id="nickname-chat" class="mb-0 fs-3"></h5>
					</div>
				</a>

				<!-- 타겟 언어와 모국어 -->
				<div
					class="d-flex align-items-center mb-3 my-4 justify-content-center">
					<img id="target_lang_img-chat" src="" alt="Target Language"
						class="me-4" style="width: 50px; height: 50px;">
					<p class="my-auto mx-1" style="margin: 0;"><--></p>
					<img id="native_lang_img-chat" src="" alt="Native Language"
						class="ms-4" style="width: 50px; height: 50px;">
				</div>

				<!-- 팔로우 및 메시지 버튼 -->
				<div class="d-flex mb-3 my-4 justify-content-center">
					<button type="button"
						class="btn btn-primary me-3 follow_button-chat"
						style="width: 96.63px;">Follow</button>
					<button type="button"
						class="btn btn-primary me-3 unfollow_button-chat"
						style="width: 96.63px;">Unfollow</button>
					<button type="button" id="message_button-chat"
						class="btn btn-primary ms-3">Message</button>
				</div>

				<!-- 사용자 소개 -->
				<p id="introduction-chat" class="my-4"></p>
			</div>
		</div>
	</div>



	<script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
	<script th:src="@{/js/memberView/sidebar.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
	<script th:src="@{/js/chat/chatUtilities.js}"></script>
	<script th:src="@{/js/chat/openChatRoom.js}"></script>


</body>
</html>