
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" type="text/css" href="../css/openchat.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{../css/sidebar.css}">
    <link rel="stylesheet"
	th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}" />
	<!-- JS -->
	<script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script src="./js/chat.js"></script>
</head>
<body>
    <div class="container">
        <div class="leftside">
            <div class="header">
                <div></div>
                <button type="button" class="btn btn-primary" style="background-color: #a8e9dc; border-color: #a8e9dc; color: #1f2e3d; font-size: 18px; font-weight: 500; box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);">DM</button>
                <button type="button" class="btn btn-primary" style="background-color: #f4faf9; border-color: #a8e9dc; color: #1f2e3d; font-size: 18px; font-weight: 500; box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);">Open Chat</button>
                <div></div>
            </div>
            <div class="search_chat">
                <div>
                    <input type="text" placeholder="Search or start new chat">
                    <ion-icon name="search-outline"></ion-icon>
                </div>
            </div>
            <div class="chatlist">
                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <h5>E-Sports Circle</h5>
                            <p class="time">15:56</p>
                        </div>
                        <div class="message_p">
                            <p>안녕하세요.</p>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <h5>Cam Club</h5>
                            <p class="time">13:43</p>
                        </div>
                        <div class="message_p">
                            <p>Hi.</p>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <h5>Sports Club</h5>
                            <p class="time">12:56</p>
                        </div>
                        <div class="message_p">
                            <p>おはよう</p>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <h5>Baking Club</h5>
                            <p class="time">11:54</p>
                        </div>
                        <div class="message_p">
                            <p>Guten Morgen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightside">
            <div class="header">
                <div class="nav_body">      
                    <nav>
                        <a href="#">
                            home
                        </a>
                        <a href="#">
                            lang
                        </a>
                        <a href="#">
                            category
                        </a>
                        <a th:href="@{/chat/createRoomPage}">
                            new room
                        </a>
                        <a href="#">
                            setting
                        </a>
                        <div class="animation start_home"></div>
                    </nav>
                </div>
            </div>
            <!-- 보이스룸 목록 -->
            <div class="chatroom_list_box">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <table class="chatroom_list_table">
                    <thead>
                        <tr class="chatroom_list_thead">
                            <th>lang</th>
                            <th>title</th>
                            <th>total</th><!-- 현참가인원수/인원제한 -->
                            <th>host</th>
                        </tr>
                    </thead>
                    
                    <tbody class="chatroom_list_tbody">
                        <tr>
                            <td>jpn</td>
                            <td class="text_align_left">only use japanese</td>
                            <td>3/6</td>
                            <td class="text_align_left">일본어잘하고싶다</td><!--보이스룸 호스트 닉네임-->
                        </tr>
                    </tbody>
                    
                    <tbody th:each="room : ${chatrooms}" class="chatroom_list_tbody">
                        <tr>
                            <td><input type="hidden" th:id="${room.chatroom_num}" th:value="${room.chatroom_num}"><p th:text="${room.lang_category}"></p></td>
                            <td class="text_align_left"><a th:href="@{/chat/openChatRoomEnter(chatroom_num=${room.chatroom_num})}" th:text=${room.chatroom_num}></a> <!-- <p th:text="${room.title}"> </p> --></td>
                            <td>3/6</td>
                            <td class="text_align_left"><p th:text="${room.host_num}"></td><!--보이스룸 호스트 닉네임-->
                        </tr>
                    </tbody> 
                </table>
                <div class="page_box">
                    <ul class="pagination">
                        <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                        </li>
                        <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
