<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!----======== CSS ======== -->
<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{../css/sidebar.css}">
<link rel="stylesheet" th:href="@{../css/game/gameMain.css}">
<link rel="stylesheet" th:href="@{../css/game/MCQ.css}">
<link rel="stylesheet" th:href="@{../css/game/flashCards.css}">
<link rel="stylesheet" th:href="@{../css/game/dictation.css}">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
	rel="stylesheet">
<!----===== Boxicons CSS ===== -->
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
	rel="stylesheet">

<!-- JS -->
<script th:src="@{/js/jquery-3.7.0.js}"></script>

<title>Game</title>
</head>
<body>
	<nav class="sidebar close">
		<header>
			<div class="image-text logo-area">
				<span class="image"> <img th:src="@{../img/sidebar.png}"
					alt="">
				</span>

				<div class="text logo-text">
					<span class="name">LingoSwap</span>
				</div>
			</div>
			<i class='bx bx-chevron-right toggle'></i>
		</header>

		<div class="menu-bar">
			<div class="menu">
				<ul class="menu-ul">
					<li><a th:href="@{/member/home}"> <i
							class='bx bx-home-alt icon'></i> <span class="text nav-text">Hoooome</span>
					</a></li>

					<li><a th:href="@{/feed/feedMain}"> <i
							class='bx bx-detail icon'></i> <span class="text nav-text">Feed</span>
					</a></li>

					<li><a th:href="@{/note/noteMain}"> <i
							class='bx bx-edit icon'></i> <span class="text nav-text">Note</span>
					</a></li>

					<li><a th:href="@{/chat/openChatMain}"> <i
							class='bx bx-message-square-dots icon'></i> <span
							class="text nav-text">Message</span>
					</a></li>

					<li><a th:href="@{/game/gameMain}"> <i
							class='bx bx-game icon'></i> <span class="text nav-text">Game</span>
					</a></li>
				</ul>
			</div>
			<!-- ========================사이드바 하단=========================== -->
			<div class="bottom-content">
				<ul class="menu-ul">
					<li class="">
						<div sec:authorize="isAuthenticated()">
							<a th:href="@{/member/logout}"> <i class='bx bx-log-out icon'></i>
								<span class="text nav-text">Logout</span>
							</a>
						</div>
					</li>
					<li class=""><a th:href="@{/notification/notificationMain}">
							<i class='bx bx-bell icon'></i> <span class="text nav-text">Notifications</span>
					</a></li>
					<li class="">
						<div sec:authorize="isAuthenticated()">
							<a th:href="@{/member/myPage}"> <span class="profile-pic-li"
								data-tooltip="프로필 사진으로 이동합니다."> <span class="profile-pic">
										<img th:src="@{../img/2.jpg}" alt="Your Profile Picture">
								</span>
							</span> <span class="text nav-text">Profile</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<section class="home container main-container">
		<div class="row carouselRow">
			<div id="carouselExampleCaptions" class="carousel slide">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions"
						data-bs-slide-to="0" class="active" aria-current="true"
						aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions"
						data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions"
						data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<i class="bi bi-pencil-square MCQ"></i>
						<div class="d-block w-100">
							<div class="carousel-caption d-none d-md-block">
								<h5>Multiple Choice Quiz</h5>
								<p>객관식 테스트</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-block w-100">
							<i class="bi bi-magic flash-cards"></i>
							<div class="carousel-caption d-none d-md-block">
								<h5>FlashCards</h5>
								<p>클릭하면 정답이 나와요!</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-block w-100">
							<i class="bi bi-pencil-square dictation"></i>
							<div class="carousel-caption d-none d-md-block">
								<h5>Dictation</h5>
								<p>받아쓰기로 암기 완성!</p>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button"
					data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button"
					data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<div class="game-option-area">
			<div class="row set-rule justify-content-center">
				<div class="col-8 text-center">Set Rules</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4 text-start">Select WordList</div>
				<div class="col-4 text-end">
					<button type="button" class="btn btn-primary btn-sm"
						data-bs-toggle="modal" data-bs-target="#wordlistModal">All</button>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4 text-start">Presentation Form</div>
				<div class="col-4 text-end">
					<button type="button" class="btn btn-primary btn-sm"
						data-bs-toggle="modal" data-bs-target="#formModal">Detailed</button>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4 text-start">Number of Questions</div>
				<div class="col-4 text-end">
					<button type="button" class="btn btn-primary btn-sm"
						data-bs-toggle="modal" data-bs-target="#countOfItemsModal">Total</button>
				</div>
			</div>
			<div class="row justify-content-center more-option mt-3" style="display: none;">
				<div class="col-4 text-start">
					Match Pronuntation				
				</div>
				<div class="col-4 text-end">
					<div class="form-check form-switch d-inline-block">
						<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<!-- 게임 종료 모달 -->
	<div class="modal fade" id="confirmModal" tabindex="-1"
		aria-labelledby="confirmModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="confirmModalLabel">Modal
						title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">게임을 중단하고 돌아가시겠습니까?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary confirm-exit">Yes</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 다시하기 모달 -->
	<div class="modal fade" id="retryModal" tabindex="-1"
		aria-labelledby="retryModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="retryModalLabel">Retry?</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">틀린 것만 다시 하시겠습니까?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary do-retry">Retry</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 종료 후 메인으로 돌아가기 모달 -->
	<div class="modal fade" id="returnToMainModal" tabindex="-1"
		aria-labelledby="returnToMainModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="returnToMainModalLabel">Modal
						title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">게임 메인으로 돌아가시겠습니까?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary return-to-game-main">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{../js/memberView/sidebar.js}"></script>
	<script th:src="@{../js/game/gameVariables.js}"></script>
	<script th:src="@{../js/game/gameMain.js}"></script>
	<script th:src="@{../js/game/gameUtilities.js}"></script>
	<script th:src="@{../js/game/MCQ.js}"></script>
	<script th:src="@{../js/game/flashCards.js}"></script>
	<script th:src="@{../js/game/dictation.js}"></script>


</body>
</html>