<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/test.css">
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <style>
        
        #backimg {
            width: 100%;
            height: 100%;
            background-image: url("../img/back.png");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div id="backimg"></div>
</body>
</html>