<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.ringo.ringoSwap.dao.ChatDAO">
	<!-- 채팅방 링크 가져오기 -->
	<select id="getChatroomNums" parameterType="int" resultType="int">
		select
			chatroom_num
		from
			ringo_chatroom_link
		where
			user_num = #{user_num}
	</select>
	
	<!-- 
		내가 참여한 채팅방 리스트 가져오기
		* 주의 : 가져오려면 ringo_chatroom_link에서 chatroom_num을 ArrayList<int>로 담아오고,
	 			담아온 ArrayList<int>를 parameter에 넣고 getChatrooms에서 ArrayList<Chatroom>으로 가져오기.
	-->
	<select id="getChatrooms" parameterType="int" resultType="Chatroom">
	    select * from 
	    	ringo_chatroom
	    where 
	    	chatroom_num in
	    	<foreach collection="list" item="chatroom_num" open="(" separator="," close=")">
	        	#{chatroom_num}
	    	</foreach>
	  		order by modifie_date desc
	</select>
	

	<select id="getMaxChatroomNum">
	    select
	    	max(chatroom_num) as chatroom_num
	    from 
	    	ringo_chatroom
    </select>
    
    <select id="getChatroomLinks" parameterType="int" resultType="ChatroomLink">
    	select
    		*
    	from
    		ringo_chatroom_link
    	where
    		user_num = #{user_num}
    </select>
    
    <!-- 메시지들을 DB에서 삭제함 -->
    <delete id="deleteMessage" parameterType="deleteMessage">
    	delete 
    		ringo_chat_common
		
		where
			chat_num in 
			<foreach collection="list" item="chatroom_num" open="(" separator="," close=")">
				#{chat_num}
			</foreach>
			
			user_num in 
			<foreach collection="list" item="chatroom_num" open="(" separator="," close=")">
				#{user_num}
			</foreach>
			
			chatroom_num in
			<foreach collection="list" item="chatroom_num" open="(" separator="," close=")">
				#{chatroom_num}
			</foreach>
    </delete>
	
	<!-- 오픈 채팅방 만들기 -->
	<insert id="createOpenChatroom" parameterType="Chatroom">
		insert into ringo_chatroom
			(
				chatroom_num
				, host_num
				, title
				, lang_category
				, gen_category
			)
			values
			(
				ringo_chatroom_seq.nextval
				, #{host_num}
				, #{title}
				, #{lang_category}
				, #{gen_category}
			)
	</insert>
	
	<!-- 자신이 참가한 채팅방을 DB에 기록 -->
	<insert id="createChatroomLink" parameterType="ChatroomLink">
		insert into ringo_chatroom_link
			(
				user_num
				, chatroom_num
			)
			values
			(
				#{user_num}
				, #{chatroom_num}
			)
	</insert>
	
	<!-- 메시지를 보낼 경우 DB에 기록 -->
	<insert id="sendMessage" parameterType="ChatCommon">
		insert into ringo_chat_common
			(
				chat_num
				, user_num
				, chatroom_num
				, message
				, origin_file
				, saved_file
			)
			values
			{
				#{chat_num}
				, #{user_num}
				, #{chatroom_num}
				, #{message}
				, #{origin_file}
				, #{saved_file}
			}
	</insert>
	
</mapper>