<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.ringo.ringoSwap.dao.GameDAO">
	<!-- 난이도 정보를 select로 불러오는 코드
		ringo_member 테이블의 정보는 id대조용으로 사용하고 ringo_single_difficulty 테이블의 정보만 읽습니다.
	 -->
	<select id="difficultyCall" parameterType="String" resultType="SingleDifficulty">
		select gs.user_num, m.user_id, m.nickname
            , file_num
            , form_type
            , word_type
            , description_show
            , pron_show
            , question_num
            , answer_category
		from ringo_game_setting gs, ringo_member m 
		where gs.user_num = m.user_num and m.user_id = #{user_id}
	</select>
	
	
	<!-- 
		user_num을 매개변수로 file_type이 word인 파일목록을 리턴하는 select문
		note기능과 연동되는 기능입니다.
	 -->
	 <select id="wordFileSelectByUserNum" resultType="DIrFile">
	 select * 
	 from ringo_file
	 where user_num = #{user_num}
	 	and file_type = 'word'
	 </select>
	 <!-- user_num과 file_num을 매개변수로 DB에서 특정 사용자의 file_num값을 수정하는 update문 -->
	 <update id="fileWordUpdate" parameterType="java.util.HashMap">
	 update ringo_game_setting
	 set file_num = #{file_num]
	 where user_num = #{user_num}
	 </update>
	 <!-- user_num을 매개변수로 특정 사용자의 게임세팅 정보를 리턴하는 select문 -->
	 <select id="gameSettingSelectByUserNum" resultType="GameSetting">
	 select *
	 from ringo_game_setting
	 where user_num = #{user_num}
	 </select>
	 <!-- 사용자가 수정한 게임세팅 정보를 매개변수로  DB의 정보를 수정하는 update문 -->
	 <update id="gameSettingUpdate" parameterType="GameSetting">
	 update ringo_game_setting
	 set form_type=#{form_type}, pron_show=#{pron_show}
	 	, word_type=#{word_type}, description_show=#{description_show}
	 where user_num = #{user_num}
	 </update>
	 <!-- 사용자가 수정한 정보를 매개변수로 DB의 문제 갯수 속성을 수정하는 update문 -->
	 <update id="gameSettingUpdateQuestionNum" parameterType="java.util.HashMap">
	 update ringo_game_setting
	 set question_num = #{question_num}
	 where user_num = #{user_num}
	 </update>
	 <!-- DB 내부 게임설정의 match_use값을 변경하는 update문 -->
	 <update id="matchUseUpdate" parameterType="java.util.HashMap">
	 update ringo_game_setting
	 set match_use = #{match_use}
	 where user_num = #{user_num}
	 </update>
	 
	<!-- 게임세팅 정보값을 매개변수로 해당 세팅에 따라 정렬된 단어목록을 리턴하는 select문 -->
	<select id="wordArraySearchByGameSetting">
	select *
	from ringo_word
	where file_num = #{file_num}
	<if test="match_use == true">
		and pron is not null
	</if>
	order by 
	<choose>
		<when test="order_type == 'first_one' ">
			inputdate asc
		</when>
		<when test="order_type == 'latest' ">
			inputdate desc
		</when>
		<when test="order_type == 'atoz' ">
			word asc
		</when>
		<when test="order_type == 'ztoa' ">
			word desc
		</when>
		<otherwise>
			DBMS_RANDOM.VALUE
		</otherwise>
	</choose>
	</select>
</mapper>