<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.ringo.ringoSwap.dao.GameDAO">
	<!-- 난이도 정보를 select로 불러오는 코드
		ringo_member 테이블의 정보는 id대조용으로 사용하고 ringo_single_difficulty 테이블의 정보만 읽습니다.
	 -->
	<select id="difficultyCall" parameterType="String" resultType="SingleDifficulty">
		select sd.user_num, m.user_id, m.nickname
            , file_num
            , difficulty
            , word_method
            , quest_num
            , sichuan_num
            , word_check
            , answer_category
		from ringo_single_difficulty sd, ringo_member m 
		where sd.user_num = m.user_num and m.user_id = #{user_id}
	</select>
	<!-- 
		ringo_single_difficulty테이블의 정보를 수정하는 update문
		아직 미완성 코드입니다.
	 -->
	<update id="difficultyUpdate" parameterType="SingleDifficulty">
	update ringo_single_difficulty
	set 
	<if test="">
	</if>
	where user_num = #{user_num}
	</update>
	
	
	<!-- 
		user_num을 매개변수로 file_type이 word인 파일목록을 리턴하는 select문
		note기능과 연동되는 기능입니다.
	 -->
	 <select id="wordFileSelectByUserNum" resultType="DIrFile">
	 select * 
	 from ringo_file
	 where user_num = #{user_num}
	 	and file_type = 'word'
	 </select>
</mapper>