<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.ringo.ringoSwap.dao.MemberDAO">
	<insert id="insertMember" parameterType="Member">
		insert into ringo_member
			(user_num
			, user_id
			, password
			, username
			, first_name
			, last_name
			, gender
			, birth_date
			, email
			, native_lang
			, target_lang
			, introduction
			, mbti
			, ranking_open
			, email_open
			, follow_open
			, gps_open
			, trans_lang)
		values
			(ringo_member_seq.nextval
			, #{user_id}
			, #{password}
			, #{username}
			, #{first_name}
			, #{last_name}
			, #{gender}
			, #{birth_date}
			, #{email}
			, #{native_lang}
			, #{target_lang}
			, #{introduction}
			, #{mbti}
			, #{ranking_open}
			, #{email_open}
			, #{follow_open}
			, #{gps_open}
			, #{trans_lang}
		)
	</insert>
	<!-- 로그인을 위한 select문 -->
	<select id="memberLogin" parameterType="Member" resultType="Member">
	select *
	from ringo_member
	where user_id like #{user_id} and
		password = #{password}
	</select>
</mapper>