<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.ringo.ringoSwap.dao.MemberDAO">
	<!-- 회원정보를 memberDB로 전송하여 회원정보를 insert하는 코드 -->
	<insert id="insertMember" parameterType="Member">
		insert into ringo_member
			(user_num
			, user_id
			, password
			, username
			, first_name
			, last_name
			, gender
			, birth_date
			, email
			, native_lang
			, target_lang
			, introduction)
		values
			(ringo_member_seq.nextval
			, #{user_id}
			, #{password}
			, #{username}
			, #{first_name}
			, #{last_name}
			, #{gender}
			, #{birth_date}
			, #{email}
			, #{native_lang}
			, #{target_lang}
			, #{introduction}
		)
	</insert>
	
	<!-- 회원가입시 입력한 id에 중복이 존재하는지 확인하는 select문 -->
	<select id="idCheck" parameterType="Member">
	select count(*)
	from ringo_member
	where user_id = #{user_id}
	</select>
	
	<!-- 매개변수로 받은 id값으로 검색한 정보를 member 객체로 리턴하는 select문 -->
	<select id="memberSearchById" parameterType="String" resultType="Member">
	select *
	from ringo_member
	where user_id = #{user_id}
	</select>
	
	<select id="emailConfirmForPassword" parameterType="hashmap" resultType="Member">
	select *
		from ringo_member
	where
		user_id = #{user_id}
		and
		email = #{email}
	</select>
</mapper>