<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" th:href="@{../css/idCheck.css}">
<body>	

<div class="id-check-popup">
	<div class="id-check-popup__header">ID 중복 확인</div>
		<div class="id-check-popup__body">
			<p class="id-check-popup__message">입력하신 ID는 사용 가능합니다.</p>
		<button class="id-check-popup__btn">확인</button>
	</div>
</div>

</body>
</html>