<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery-3.7.0.js}"></script>
</head>
<link rel="stylesheet" th:href="@{../css/idCheck.css}">
<body>	

<div class="id-check-popup">
	<div class="id-check-popup__header">ID 중복 확인</div>	
	<div th:text="${result}"></div>
	<div th:if="${accept}">
		<button class="id-check-popup__btn" id="idInput">사용확인</button>
	</div>
	<div th:if="${!accept}">
		<button class="id-check-popup__btn" id="notInput">다시입력</button>
	</div>
</div>

<input type="hidden" id="searchid" th:value="${searchid}">
<script th:src="@{../js/idCheck.js}"></script>
</body>
</html>