<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{../css/sidebar.css}">
    <link rel="stylesheet" th:href="@{../css/home.css}">
    <link rel="stylesheet" th:href="@{../css/login.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    
    <!-- JS -->
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    
    <title>Dashboard Sidebar Menu</title> 
</head>
<body>
<!-- =============================사이드바 상단=============================== -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img th:src="@{../img/sidebar.png}" alt="">
                </span>
				
                <div class="text logo-text">
                    <span class="name">LingoSwap</span>
               </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a th:href="@{/member/home}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Hoooome</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/feed/feedMain}">
                            <i class='bx bx-detail icon' ></i>
                            <span class="text nav-text">Feed</span>
                        </a>
                    </li>
					
                    <li class="nav-link">
                        <a th:href="@{/note/noteMain}">
                            <i class='bx bx-edit icon' ></i>
                            <span class="text nav-text">Note</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/message/messageMain}">
                            <i class='bx bx-message-square-dots icon' ></i>
                            <span class="text nav-text">Message</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/game/gameMain}">
                            <i class='bx bx-game icon' ></i>
                            <span class="text nav-text">Game</span>
                        </a>
                    </li>
                    
                    <li class="nav-link">
                        <a th:href="@{/live/liveMain}">
                            <i class='bx bx-tv icon' ></i>
                            <span class="text nav-text">Live</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
	<!-- ========================사이드바 하단=========================== -->
            <div class="bottom-content">
            	<ul>
	                <li class="">
          	            <div sec:authorize="isAuthenticated()">
		                    <a th:href="@{/member/logout}">
		                        <i class='bx bx-log-out icon' ></i>
		                        <span class="text nav-text">Logout</span>
		                    </a>
	                	</div>
                	</li>
	                
	                 <li class="">
	                    <a th:href="@{/notification/notificationMain}">
	                        <i class='bx bx-bell icon'></i>
	                        <span class="text nav-text">Notifications</span>
	                    </a>
	                </li>
					<li class="">
	                    <a th:href="@{/store/storeMain}">
	                        <i class='bx bx-shopping-bag icon'></i>
	                        <span class="text nav-text">Store</span>
	                    </a>
	                </li>
	                <li class="mode">
	                    <div class="sun-moon">
	                        <i class='bx bx-moon icon moon'></i>
	                        <i class='bx bx-sun icon sun'></i>
	                    </div>
	                    <span class="mode-text text">Dark mode</span>
	                    <div class="toggle-switch">
	                        <span class="switch"></span>
	                    </div>
	                </li>
                </ul>
            </div>
        </div>
    </nav>
  <!--=========================로그인 화면========================== -->
<section class="home" id="home">
    <div id="loginForm">
   		<div class="container">
		  <div class="container__form container--signin">
		    <form th:action="@{/member/login}" class="form" method="post">
		      <h2 class="form__title">Welcome</h2>
		      <input type="text" placeholder="ID" class="input" name="user_id"/>
		      <input type="password" placeholder="Password" class="input" name="password"/>
		      <input type="submit" class="btn" value="Sign In">
		      <input type="button" class="btn" id="signUp" value="Sign Up">
		      <pre class="searchIDPW">Find   <span id="searchID">ID</span>  /  <span id="searchPW">Password?</span></pre>
		    </form>
		  </div>
		</div>
   	</div>

	 <!--=========================회원가입 화면========================== -->
	<div id="signUpForm" class="signInHidden">
	<div class="container_signup">
	   	<div class="container_signup__form container--signup" id="signUpForm">
		    <form th:action="@{/member/join}" class="signup_form" method="post">
		        <h2 class="signup_form__title">Sign Up</h2>
	
	        <!-- Basic Information -->
			        <div class="id-section">
				        <input type="text" placeholder="ID" class="input" name="user_id" id="user_id"/>
				        <button type="button" class="E_btn" id="idCheck_Btn" onclick="idCheck()">중복 확인</button>
			        </div>
			        <input type="password" placeholder="Password" class="input" name="password" id="password"/>
			        <input type="password" placeholder="Confirm Password" class="input" name="confirmPassword" id="confirmPassword"/>
			        <input type="text" placeholder="First Name" class="input" name="first_name" id="first_name"/>
			        <input type="text" placeholder="Last Name" class="input" name="last_name" id="last_name"/>
			        <input type="text" placeholder="Nickname" class="input" name="username" id="username"/>
		
					<!-- Gender & Date of Birth -->
			        <select class="selectGender" name="gender" id="gender">
			            <option value="M">남자</option>
			            <option value="F">여자</option>
			            <option value="N">기타</option>
			        </select>
			        <input type="date" class="input" name="birth_date" id="birth_date"/>
		
					<!-- Email & Verification -->
			        <div class="email-section">
		                <input type="email" placeholder="Email" class="email-input" name="email" id="sendCode1"/>
		                <button type="button" class="E_btn sendCode1">인증코드 전송</button>
		            </div>
		            <div class="verification-section">
		                <input type="text" placeholder="인증코드" class="verification-input" name="verificationCode" id="checkCode1" />
		                <button type="button" class="E_btn confirmCode1">코드 확인</button>
		            </div>
		            <div class="resultMessage1"></div>
		
					<!-- Language Preferences -->
				    <label>모국어를 선택해주세요.</label>
				        <select class="select" name="native_lang" id="native_lang">
				            <option value="korean">한국어</option>
				            <option value="japanese">일본어</option>
				            <option value="english">영어</option>
				        </select>
				        
			        <label>배우고 싶은 언어를 선택해주세요.</label>
				        <select class="select" name="target_lang" id="target_lang">
				            <option value="korean">한국어</option>
				            <option value="japanese">일본어</option>
				            <option value="english">영어</option>
				        </select>

					
					<!-- Introduction & Hobby -->
	        		<textarea class="introduceBox" placeholder="자기소개" name="introduction" id="introduction" maxlength="500"></textarea>
	    
					<!-- Submit Button -->
					<button class="Register_btn" type="submit">Register</button>
				</form>
			</div>
		</div>
	</div>
	
	<!--=========================아이디 찾기 화면========================== -->
	<div id="paintSearchID" class="signInHidden" >
   		<div class="container">
	   		<div class="container_signup__form container--signup">
				<div class="form_search">
					<h1 class="h1_searchID">아이디 찾기</h1><br><br>
					<div class="email-section">
		                <input type="email" placeholder="Email" class="email-input" name="sendVerificationCode" id="sendCode2"/>
		                <button type="button" class="E_btn sendCode2" >인증코드 전송</button>
		            </div>
		            <div class="verification-section">
		                <input type="text" placeholder="인증코드" class="verification-input" name="confirmVerificationCode" id="checkCode2"/>
		                <button type="button" class="E_btn confirmCode2">코드 확인</button>
		            </div>
		            <div class="resultMessage2"></div>
		            <div class="paintID"></div><br>
		            <div class="checkSection">
			            <button class="btn IDcheckbtn" id="checkIdBtn">아이디 확인하기</button>
						<a class="btn IDcheckbtn" th:href="@{/member/login}">돌아가기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--=========================비밀번호 찾기 화면========================== -->
	<div id="paintSearchPW" class="signInHidden" >
   		<div class="container">
	   		<div class="container_signup__form container--signup">
				<div class="form_search">
					<h1 class="h1_searchID">비밀번호 찾기</h1><br><br>
						<div class="IDForPassword">
							<input type="text" placeholder="ID" class="input_IDForPassword" name="user_id">
						</div>
						<div class="email-section">
			                <input type="email" placeholder="Email" class="email-input" name="sendVerificationCode" id="sendCode3"/>
			                <button type="button" class="E_btn sendCode3">인증코드 전송</button>
			            </div>
			            <div class="verification-section">
			                <input type="text" placeholder="인증코드" class="verification-input" name="confirmVerificationCode" id="checkCode3"/>
			                <button type="button" class="E_btn confirmCode3">코드 확인</button>
			            </div>
			            <div class="resultMessage3"></div>
			            <div class="checkSection">
				            <button class="btn IDcheckbtn">비밀번호 확인하기</button>
							<a class="btn IDcheckbtn" th:href="@{/member/login}">돌아가기</a>
						</div>
				</div>
			</div>
		</div>
	</div>

		<button id="toDo" onclick="toggleToDo()">ToDo</button>
	    <div id="todo-container" style="display: none;">
	        <form id="todo-form">
	            <input type="text" placeholder="What will you do?">
	            <button type="submit" id="Add">Add</button>
	        </form>
	        <ul id="todo-list"></ul>
	    </div>
</section>
    <script th:src="@{../js/sidebar.js}"></script>
    <script th:src="@{../js/toDo.js}"></script>
    <script th:src="@{../js/login.js}"></script>
    <script th:src="@{../js/background.js}"></script>

</body>
</html>