<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!----======== CSS ======== -->
<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{../css/sidebar.css}">
<link rel="stylesheet" th:href="@{../css/memberView/home.css}">
<link rel="stylesheet" th:href="@{../css/memberView/login.css}">

<!----===== Boxicons CSS ===== -->
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>


<!-- JS -->
<script th:src="@{/js/jquery-3.7.0.js}"></script>

<title>Login</title>
</head>
<body>
	<!-- =============================사이드바 상단=============================== -->
	<nav class="sidebar close">
		<header>
			<div class="image-text logo-area">
				<span class="image"> <img th:src="@{../img/로고.png}"
					alt="">
				</span>

				<div class="text logo-text">
					<span class="name">LingoSwap</span>
				</div>
			</div>
			<i class='bx bx-chevron-right toggle'></i>
		</header>

		<div class="menu-bar">
			<div class="menu">
				<ul class="menu-ul">
					<li><a th:href="@{/member/home}"> <i
							class='bx bx-home-alt icon'></i> <span class="text nav-text">Hoooome</span>
					</a></li>

					<li><a th:href="@{/feed/feedMain}"> <i
							class='bx bx-detail icon'></i> <span class="text nav-text">Feed</span>
					</a></li>

					<li><a th:href="@{/note/noteMain}"> <i
							class='bx bx-edit icon'></i> <span class="text nav-text">Note</span>
					</a></li>

					<li><a th:href="@{/message/messageMain}"> <i
							class='bx bx-message-square-dots icon'></i> <span
							class="text nav-text">Message</span>
					</a></li>

					<li><a th:href="@{/game/gameMain}"> <i
							class='bx bx-game icon'></i> <span class="text nav-text">Game</span>
					</a></li>
				</ul>
			</div>
			<!-- ========================사이드바 하단=========================== -->
			<div class="bottom-content">
				<ul class="menu-ul">
					<li class="">
						<div sec:authorize="isAuthenticated()">
							<a th:href="@{/member/logout}"> <i class='bx bx-log-out icon'></i>
								<span class="text nav-text">Logout</span>
							</a>
						</div>
					</li>
					<li class="">
						<div sec:authorize="isAuthenticated()">
							<a th:href="@{/member/myPage}"> 
							<span id="profileImagePlaceholder" data-tooltip="프로필 사진으로 이동합니다."></span>
            				<span class="text nav-text">Profile</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--=========================로그인 화면========================== -->
	<section class="home" id="home">
		<div id="loginForm">
			<div class="container">
				<div class="container_form container_signin">
					<form th:action="@{/member/login}" class="form" method="post">
						<h2>Welcome</h2>
							<br> 
							<input type="text" placeholder="ID" class="input" name="user_id" /> 
							<input type="password" placeholder="Password" class="input" name="password" /> 
							
							<button type="submit" class="btn btn-info btn-lg mt-3 mb-3 w-75" value="Sign In">Sign In</button>
							<button type="button" class="btn btn-info btn-lg mb-3 w-75" id="signUp" value="Sign Up">Sign Up</button>
						<pre class="searchIDPW text-dark">Find   <span id="searchID" class="text-dark">ID</span>  /  <span
								id="searchPW" class="text-dark" >Password?</span>
						</pre>
					</form>
				</div>
			</div>
		</div>

		<!-- ==================================ToDo List============================================== -->
		<button id="toDo" onclick="toggleToDo()" class="btn btn-outline-light">ToDo</button>
		
		
		<div class="city-name">
			<p class="text-light show-name"></p>
		</div>
	</section>
	
	<!-- Bootstrap Modal -->
	<div class="modal fade" id="loginErrorModal" tabindex="-1"
		aria-labelledby="loginErrorModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="loginErrorModalLabel">Login Error</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">Invalid username or password.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary close-failureUrl-modal"
						data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{../js/memberView/sidebar.js}"></script>
	<script th:src="@{../js/memberView/loginVariables.js}"></script>
	<script th:src="@{../js/memberView/printLogin.js}"></script>
	<script th:src="@{../js/memberView/background.js}"></script>
	<script th:src="@{../js/memberView/login.js}"></script>
	<script th:src="@{../js/memberView/toDo.js}"></script>



</body>
</html>