.id-check-popup {
  background-color: var(--white);
  border-radius: var(--button-radius);
  box-shadow:  0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  position: fixed;
  top: 50%;         
  left: 50%;        
  transform: translate(-50%, -50%);
  width: var(--max-width);
  height: var(--max-height); 
  padding: 20px;
  z-index: 1000; /* 팝업창이 다른 요소 위에 표시되도록 함 */
}

.id-check-popup__header {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: var(--gray);
}

.id-check-popup__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

.id-check-popup__message {
  font-size: 1rem;
  text-align: center;
  color: var(--gray);
  margin-bottom: 20px;
}

.id-check-popup__btn {
  align-self: flex-end;
  background-color: var(--blue);
  border-radius: var(--button-radius);
  border: none;
  color: var(--white);
  cursor: pointer;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.id-check-popup__btn:hover {
  background-color: var(--lightblue);
}

.id-check-popup__btn:focus {
  outline: none;
}