<!-- Coding by CodingLab | www.codinglabweb.com -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{../css/sidebar.css}">
    <link rel="stylesheet" th:href="@{../css/main.css}">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!-- JS -->
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    
    <title>Dashboard Sidebar Menu</title> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img th:src="@{../img/sidebar.png}" alt="">
                </span>
				
                <div class="text logo-text">
                    <span class="name">LingoSwap</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Hoooome</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-detail icon' ></i>
                            <span class="text nav-text">Feed</span>
                        </a>
                    </li>
					
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-edit icon' ></i>
                            <span class="text nav-text">Note</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-message-square-dots icon' ></i>
                            <span class="text nav-text">Message</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-game icon' ></i>
                            <span class="text nav-text">Game</span>
                        </a>
                    </li>
                    
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-tv icon' ></i>
                            <span class="text nav-text">Live</span>
                        </a>
                    </li>
                    
                </ul>
            </div>

            <div class="bottom-content">
            	<ul>
	                 <li class="">
	                    <a href="#">
	                        <i class='bx bx-bell icon'></i>
	                        <span class="text nav-text">Notifications</span>
	                    </a>
	                </li>
	                <li class="">
	                    <a href="#">
	                        <i class='bx bx-log-out icon' ></i>
	                        <span class="text nav-text">Logout</span>
	                    </a>
	                </li>
	
	                <li class="mode">
	                    <div class="sun-moon">
	                        <i class='bx bx-moon icon moon'></i>
	                        <i class='bx bx-sun icon sun'></i>
	                    </div>
	                    <span class="mode-text text">Dark mode</span>
	                    <div class="toggle-switch">
	                        <span class="switch"></span>
	                    </div>
	                </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="home" id="home">

    </section>
    <script th:src="@{../js/sidebar.js}"></script>
    <script th:src="@{../js/background.js}"></script>
</body>
</html>