<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>ringo</title>
<script th:src="@{/js/jquery-3.7.0.js}"></script>
<script th:src="@{/js/notePrint.js}"></script>
<style>
	section {
		border: 2px solid salmon;
		width: 25%;
		height: 100%;
		top: 0px;
	}
	#windowPrint {
		position: absolute;
		top:0px;
		margin-left: 25%;
		width: 75%;
		height: 100%;
		border: 5px solid gray;
	}

	table {
		border: 1px solid black;
		border-collapse: collapse;
	}
	tr, td {
		border: 1px solid black;
	}
</style>
</head>
<body>
<header>
<input type="hidden" id="category" value="all">
<input type="hidden" id="sort" value="input">
<input type="hidden" id="searchText" value="">
</header>

<section>
	<button class="cateBtn" value="all">전체</button>
	<button class="cateBtn" value="note">메모장</button>
	<button class="cateBtn" value="word">단어장</button><br>
	<button class="sortBtn" value="input">생성순</button>
	<button class="sortBtn" value="title">제목순</button>
	<button class="sortBtn" value="modifie">최신순</button>

	<ul id="dirList">
	</ul>
</section>
<div id="windowPrint">

</div>
</body>
</html>