<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!----======== CSS ======== -->
<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{../css/sidebar.css}">
<link rel="stylesheet" th:href="@{../css/noteMain.css}">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
	rel="stylesheet">
<!----===== Boxicons CSS ===== -->
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
	rel="stylesheet">

<!-- JS -->
<script th:src="@{/js/jquery-3.7.0.js}"></script>

<script
	src="https://cdn.tiny.cloud/1/411l7j9qqhx8mnm091296e4m3si02ode9iylwzccqxc089ij/tinymce/6/tinymce.min.js"
	referrerpolicy="origin"></script>


<title>Dashboard Sidebar Menu</title>
</head>
<body>

	<nav class="sidebar close">
		<header>
			<div class="image-text logo-area">
				<span class="image"> <img th:src="@{../img/sidebar.png}"
					alt="">
				</span>

				<div class="text logo-text">
					<span class="name">LingoSwap</span>
				</div>
			</div>
			<i class='bx bx-chevron-right toggle'></i>
		</header>

		<div class="menu-bar">
			<div class="menu">
				<ul class="menu-ul">
					<li><a th:href="@{/member/home}"> <i
							class='bx bx-home-alt icon'></i> <span class="text nav-text">Hoooome</span>
					</a></li>

					<li><a th:href="@{/feed/feedMain}"> <i
							class='bx bx-detail icon'></i> <span class="text nav-text">Feed</span>
					</a></li>

					<li><a th:href="@{/note/noteMain}"> <i
							class='bx bx-edit icon'></i> <span class="text nav-text">Note</span>
					</a></li>

					<li><a th:href="@{/chat/openChatMain}"> <i
							class='bx bx-message-square-dots icon'></i> <span
							class="text nav-text">Message</span>
					</a></li>

					<li><a th:href="@{/game/gameMain}"> <i
							class='bx bx-game icon'></i> <span class="text nav-text">Game</span>
					</a></li>
				</ul>
			</div>
			<!-- ========================사이드바 하단=========================== -->
			<div class="bottom-content">
				<ul class="menu-ul">
					<li class="">
						<div sec:authorize="isAuthenticated()">
							<a th:href="@{/member/logout}"> <i class='bx bx-log-out icon'></i>
								<span class="text nav-text">Logout</span>
							</a>
						</div>
					</li>

					<li class=""><a th:href="@{/notification/notificationMain}">
							<i class='bx bx-bell icon'></i> <span class="text nav-text">Notifications</span>
					</a></li>
					<li class="">
						<div sec:authorize="isAuthenticated()">
							<a th:href="@{/member/myPage}"> <span class="profile-pic-li"
								data-tooltip="프로필 사진으로 이동합니다."> <span class="profile-pic">
										<img th:src="@{../img/2.jpg}" alt="Your Profile Picture">
								</span>
							</span> <span class="text nav-text">Profile</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<main class="home custom-container">
		<div class="container">
			<div class="row noteHome">
				<div class="col-1">
					<div class="noteItem"
						style="position: fixed; top: 5px; right: 30px; z-index:5555">
						<h5 class="noteTitle"></h5>
						<button class="btn btn-primary noteOffcanvas " type="button"
							data-bs-toggle="offcanvas"
							data-bs-target="#offcanvasWithBothOptions"
							aria-controls="offcanvasWithBothOptions">
							<i class="bi bi-arrows-angle-expand"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="noteOrWord">
				<div class="row wordMain-content">
					<div class="col-12">
						<div class="card mb-3" style="height: 97vh; top: 9px;">
							<!-- Header with '추가' button -->
							<div class="card-header d-flex justify-content-between"
								style="position: relative;">
								<h2 class="wordListName"></h2>
								<div class="wordButton">
									<button class="btn btn-primary add-btn">추가</button>
									<button class="btn btn-primary wordOffcanvas" type="button"
										data-bs-toggle="offcanvas"
										data-bs-target="#offcanvasWithBothOptions"
										aria-controls="offcanvasWithBothOptions">
										<i class="bi bi-arrows-angle-expand"></i>
									</button>
								</div>
							</div>

							<!-- Body for the words -->
							<div class="card-body wordList">
								<div class="row">
									<!-- 14 단어 예시 (2열, 7행) -->
									<!-- 첫 번째 열 -->
									<div class="col-6 wordArea">
										<ul class="list-group1">
										</ul>
									</div>
									<!-- 두 번째 열 -->
									<div class="col-6 wordArea">
										<ul class="list-group2">
										</ul>
									</div>
								</div>
							</div>

							<!-- Pagination -->
							<div class="card-footer">
								<ul class="pagination">
									<!-- 페이지 네비게이터 출력부분-->
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="noteMain-content">
					<textarea id="noteTextarea">
				</textarea>
					<script>
						tinymce
							.init({
								language : "ko_KR",
								selector : '#noteTextarea',
								selector : 'textarea',
								height : '97vh',
								menubar : false,
								plugins : [ "advlist", "autolink", "lists",
										"link", "image", "charmap",
										"preview", "anchor",
										"searchreplace", "visualblocks",
										"code", "fullscreen",
										"insertdatetime", "media", "table",
										"code", "help", "wordcount", "save" ],
								toolbar : 'formatselect fontselect fontsizeselect |'
										+ ' forecolor backcolor |'
										+ ' bold italic underline strikethrough |'
										+ ' alignjustify alignleft aligncenter alignright |'
										+ ' bullist numlist |'
										+ ' table tabledelete |'
										+ ' link image | ' + ' save ',
								image_title : true,
								automatic_uploads : true,
								file_picker_types : 'image',
								file_picker_callback: function(cb, value, meta) {
								    let input = document.createElement('input');
								    input.setAttribute('type', 'file');
								    input.setAttribute('accept', 'image/*');
								    input.onchange = function() {
								        let file = this.files[0];
								        let reader = new FileReader();
								        reader.onload = function(e) {
								            let img = new Image();
								            img.onload = function() {
								                let width = img.width;
								                let height = img.height;
								                
								                if (width > 800 || height > 600) {
								                    let scale = Math.min(800 / width, 600 / height);
								                    width *= scale;
								                    height *= scale;

								                    let canvas = document.createElement('canvas');
								                    let ctx = canvas.getContext('2d');
								                    canvas.width = width;
								                    canvas.height = height;
								                    ctx.drawImage(img, 0, 0, width, height);
								                    
								                    img.src = canvas.toDataURL();
								                }

								                // 나머지 로직은 동일
								                let id = 'blobid' + (new Date()).getTime();
								                let blobCache = tinymce.activeEditor.editorUpload.blobCache;
								                let base64 = img.src.split(',')[1];
								                let blobInfo = blobCache.create(id, file, base64);
								                blobCache.add(blobInfo);
								                cb(blobInfo.blobUri(), {
								                    title: file.name
								                });
								            };
								            img.src = e.target.result;
								        };
								        reader.readAsDataURL(file);
								    };
								    input.click();
								},
								content_style : 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px; }',
								save_onsavecallback : function() {
									// 내용을 저장하는 함수를 호출
									fileSave();
								},
								autosave_interval : 600000, //자동저장 설정 간격(10분 = 10*60*1000밀리초)
								autosave_callback : function() {
									//자동 저장될 때마다 아래 함수 fileSave를 호출합니다.
									console.log('자동저장 작동');
									fileSave();
								},
								setup : function(editor) {
									editor.on('init',
										function() {
											// 에디터 초기화 이벤트 처리
											// 여기에 추가적인 초기화 작업을 수행할 수 있습니다.
											console.log('변환');
											const fileNum = getUrlParam('file');
											const fileType = getUrlParam('type');
											console
													.log(fileOpenUrl(
															fileNum,
															fileType));
										});
									// 다른 이벤트 핸들러를 여기에 추가할 수 있습니다.
								}
							});
					</script>
				</div>
			</div>
		</div>
	</main>


	<!-- Modal -->
	<!-- 폴더 생성 -->
	<div class="modal fade createFolder" id="folderModal" tabindex="-1"
		aria-labelledby="folderModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="folderModalLabel">Create Folder</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control" placeholder="Folder name"
						id="folderNameInput">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary yes" id="createFolder"
						data-bs-dismiss="modal">Create</button>
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 파일 생성 -->
	<div class="modal fade createFile" id="fileModal" tabindex="-1"
		aria-labelledby="fileModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="fileModalLabel">Create File or
						Note</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control" placeholder="Name"
						id="fileNameInput">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary yes" id="createNote">Note</button>
					<button type="button" class="btn btn-primary yes" id="createWord">Word</button>
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 파일 이름 수정 -->
	<div class="modal fade modifyFile" id="modifyModal" tabindex="-1"
		aria-labelledby="modifyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modifyModalLabel">Modify File Name</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control" placeholder="New Name"
						id="newFileNameInput">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary yes"
						id="modifyFileName">Save</button>
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 파일 삭제 -->
	<div class="modal fade deleteFile" id="deleteModal" tabindex="-1"
		aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Delete File</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this file?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger yes" id="confirmDelete">Confirm
						Delete</button>
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- ========================폴더 출력 오프캔버스=================== -->
	<div class="offcanvas offcanvas-start" data-bs-scroll="true"
		tabindex="-1" id="offcanvasWithBothOptions"
		aria-labelledby="offcanvasWithBothOptionsLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">노트</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
				aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<!-- 버튼 그룹 위치 변경 -->
			<div class="row">
				<div class="btn-group mb-2" role="group"
					aria-label="Button group with nested dropdown">
					<div class="col-6 sortCategory">
						<button type="button" class="btn btn-outline-success sortBtnMain"
							style="border: none;">생성순</button>
						<div class="btn-group" role="group">
							<button id="btnGroupDrop2" type="button"
								class="btn btn-outline-success dropdown-toggle"
								data-bs-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false" style="border: none;"></button>
							<div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
								<a class="dropdown-item sortBtn" href="#">제목순</a> <a
									class="dropdown-item sortBtn" href="#">수정순</a>
							</div>
						</div>
					</div>
					<div class="col-6 createArea" style="position: relative;">
						<div style="position: absolute; right: 5px; top: 5px;">
							<i class="bi bi-folder-plus createFolder" data-bs-toggle="modal"
								data-bs-target="#folderModal"></i> <i
								class="bi bi-file-earmark-plus createFile"
								data-bs-toggle="modal" data-bs-target="#fileModal"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<ul class="dirPrint"></ul>
				</div>
			</div>
		</div>
	</div>



	<script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{../js/memberView/noteSidebar.js}"></script>
	<script th:src="@{../js/notePrint.js}"></script>
	<script th:src="@{../js/wordPrint.js}"></script>

</body>
</html>