<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!----======== CSS ======== -->
<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{../css/sidebar.css}">
<link rel="stylesheet" th:href="@{../css/noteMain.css}">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
	rel="stylesheet">
<!----===== Boxicons CSS ===== -->
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
	rel="stylesheet">

<!-- JS -->
<script th:src="@{/js/jquery-3.7.0.js}"></script>

<title>Dashboard Sidebar Menu</title>
</head>
<body>
	<div class="sidebar-container" style="position: relative;">
		<nav class="sidebar close">
			<header>
				<div class="image-text">
					<span class="image"> <img th:src="@{../img/sidebar.png}"
						alt="">
					</span>

					<div class="text logo-text">
						<span class="name">LingoSwap</span>
					</div>
				</div>
				<i class='bx bx-chevron-right toggle'></i>
			</header>

			<div class="menu-bar">
				<div class="menu">
					<ul class="menu-ul">
						<li><a th:href="@{/member/home}"> <i
								class='bx bx-home-alt icon'></i> <span class="text nav-text">Hoooome</span>
						</a></li>

						<li><a th:href="@{/feed/feedMain}"> <i
								class='bx bx-detail icon'></i> <span class="text nav-text">Feed</span>
						</a></li>

						<li><a th:href="@{/note/noteMain}"> <i
								class='bx bx-edit icon'></i> <span class="text nav-text">Note</span>
						</a></li>

						<li><a th:href="@{/message/messageMain}"> <i
								class='bx bx-message-square-dots icon'></i> <span
								class="text nav-text">Message</span>
						</a></li>

						<li><a th:href="@{/game/gameMain}"> <i
								class='bx bx-game icon'></i> <span class="text nav-text">Game</span>
						</a></li>

						<li><a th:href="@{/live/liveMain}"> <i
								class='bx bx-tv icon'></i> <span class="text nav-text">Live</span>
						</a></li>

					</ul>
				</div>
				<!-- ========================사이드바 하단=========================== -->
				<div class="bottom-content">
					<ul class="menu-ul">
						<li class="">
							<div sec:authorize="isAuthenticated()">
								<a th:href="@{/member/logout}"> <i
									class='bx bx-log-out icon'></i> <span class="text nav-text">Logout</span>
								</a>
							</div>
						</li>
						<li class=""><a th:href="@{/notification/notificationMain}">
								<i class='bx bx-bell icon'></i> <span class="text nav-text">Notifications</span>
						</a></li>
						<li class=""><a th:href="@{/store/storeMain}"> <i
								class='bx bx-shopping-bag icon'></i> <span class="text nav-text">Store</span>
						</a></li>
						<li class="">
							<div sec:authorize="isAuthenticated()">
								<a th:href="@{/member/myPage}"> <span class="profile-pic-li"
									data-tooltip="프로필 사진으로 이동합니다."> <span
										class="profile-pic"> <img th:src="@{../img/2.jpg}"
											alt="Your Profile Picture">
									</span>
								</span> <span class="text nav-text">Profile</span>
								</a>
							</div>
						</li>
						<li class="mode">
							<div class="sun-moon">
								<i class='bx bx-moon icon moon'></i> <i
									class='bx bx-sun icon sun'></i>
							</div> <span class="mode-text text">Dark mode</span>
							<div class="toggle-switch">
								<span class="switch"></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<main class="home custom-container">
			<div class="container">
				<div class="row noteHome">
					<div class="col-1">

						<!-- ========================폴더 출력 오프캔버스=================== -->
						<div class="offcanvas offcanvas-start" data-bs-scroll="true"
							tabindex="-1" id="offcanvasWithBothOptions"
							aria-labelledby="offcanvasWithBothOptionsLabel">
							<div class="offcanvas-header">
								<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">노트</h5>
								<button type="button" class="btn-close"
									data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body">
								<!-- 버튼 그룹 위치 변경 -->
								<div class="row">
									<div class="btn-group mb-2" role="group"
										aria-label="Button group with nested dropdown">
										<div class="col-6 sortCategory">
											<button type="button" class="btn btn-outline-success"
												style="border: none;">생성순</button>
											<div class="btn-group" role="group">
												<button id="btnGroupDrop2" type="button"
													class="btn btn-outline-success dropdown-toggle"
													data-bs-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false" style="border: none;"></button>
												<div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
													<a class="dropdown-item" href="#">제목순</a> <a
														class="dropdown-item" href="#">최신순</a>
												</div>
											</div>
										</div>
										<div class="col-6 createArea" style="position: relative;">
											<div style="position: absolute; right: 5px; top: 5px;">
												<i class="bi bi-folder-plus createFolder"
													data-bs-toggle="modal" data-bs-target="#folderModal"></i> <i
													class="bi bi-file-earmark-plus createFile"
													data-bs-toggle="modal" data-bs-target="#fileModal"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<ul class="dirPrint"></ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card mb-3" style="height: 97vh; top: 9px;">
							<!-- Header with '추가' button -->
							<div class="card-header d-flex justify-content-between" style="position: relative;">
								<h2>단어장 이름</h2>
								<div class="wordButton">
									<button class="btn btn-primary add-btn">추가</button>
									<button class="btn btn-primary noteOffcanvas" type="button"
									data-bs-toggle="offcanvas"
									data-bs-target="#offcanvasWithBothOptions"
									aria-controls="offcanvasWithBothOptions">
									<i class="bi bi-arrows-angle-expand"></i>
								</button>
								</div>
								
							</div>

							<!-- Body for the words -->
							<div class="card-body wordList">
								<div class="row">
									<!-- 14 단어 예시 (2열, 7행) -->
									<!-- 첫 번째 열 -->
									<div class="col-6 wordArea">
										<ul class="list-group1">
											<li class="list-group-item word-card"><span class="word">단어</span>
												<div class="word-content">
													<span class="pronunciation">발음1</span> <span
														class="meaning">뜻1</span>
												</div></li>
											<li class="list-group-item word-card"><span class="word">단어</span>
												<div class="word-content">
													<span class="pronunciation">발음2</span> <span
														class="meaning">뜻2</span>
												</div></li>
											<li class="list-group-item word-card"><span class="word">단어</span>
												<div class="word-content">
													<span class="pronunciation">발음3</span> <span
														class="meaning">뜻3</span>
												</div></li>
											<li class="list-group-item word-card"><span class="word">단어</span>
												<div class="word-content">
													<span class="pronunciation">발음4</span> <span
														class="meaning">뜻4</span>
												</div></li>
										</ul>
									</div>
									<!-- 두 번째 열 -->
									<div class="col-6 wordArea"></div>
								</div>
							</div>

							<!-- Pagination -->
							<div class="card-footer">
								<ul class="pagination">
									<li class="page-item disabled"><a class="page-link"
										href="#">&laquo;</a></li>
									<li class="page-item active"><a class="page-link" href="#">1</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">2</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">3</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">4</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">5</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">&raquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</main>


		<!-- Modal -->
		<!-- 폴더 생성 -->
		<div class="modal fade createFolder" id="folderModal" tabindex="-1"
			aria-labelledby="folderModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="folderModalLabel">Create Folder</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control" placeholder="Folder name"
							id="folderNameInput">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary yes"
							id="createFolder" data-bs-dismiss="modal">Create</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 파일 생성 -->
		<div class="modal fade createFile" id="fileModal" tabindex="-1"
			aria-labelledby="fileModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="fileModalLabel">Create File or
							Note</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control" placeholder="Name"
							id="fileNameInput">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary yes" id="createNote">Note</button>
						<button type="button" class="btn btn-primary yes" id="createWord">Word</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 파일 이름 수정 -->
	<div class="modal fade modifyFile" id="modifyModal" tabindex="-1"
		aria-labelledby="modifyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modifyModalLabel">Modify File Name</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control" placeholder="New Name"
						id="newFileNameInput">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary yes"
						id="modifyFileName">Save</button>
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 파일 삭제 -->
	<div class="modal fade deleteFile" id="deleteModal" tabindex="-1"
		aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Delete File</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this file?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger yes" id="confirmDelete">Confirm
						Delete</button>
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>



	<script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{../js/memberView/noteSidebar.js}"></script>
	<script th:src="@{../js/notePrint.js}"></script>
	<script th:src="@{../js/wordPrint.js}"></script>

</body>
</html>