.custom-container {
    border-radius: 15px;
    min-height: calc(100vh - 20px); /* sidebar의 top/bottom padding 제외 */
}

.row {
	margin: 40px 0;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.1); /* 카드 테두리 추가 */
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 카드 그림자 추가 */
    overflow: hidden; /* 이미지가 카드 밖으로 나가지 않도록 함 */
 	position: relative; /* 내 피드 가기 버튼 위치 설정을 위해 */
}


.profile-picture {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile-buttons {
    position: absolute;
    top: 78%;
    width: 100%;
}

.btn-outline-primary, .btn-primary {
    padding: 8px 12px; 
    border-width: 1px;
}

.col-lg-5 {
	margin-left: 30px;
}

.modal-backdrop {
	display: none;
}
