.custom-container {
	border-radius: 15px;
	background-color: #fff;
	min-height: calc(100vh - 20px);
	margin-left: 20px;
	padding-left: 40px;
	position: absolute;
}

/* 카드 내부 아이콘 커서 포인터 추가 */
.bi-folder-plus, .bi-file-earmark-plus {
	cursor: pointer;
}

/* 폴더, 노트, 단어장에 호버될 때 수정 및 삭제 버튼 보이기 */
.folder:hover .action-icons, .note:hover .action-icons, .wordbook:hover .action-icons
	{
	display: block;
}

.dir-btn {
	border: none;
	margin-left: 5px;
}

.wordButton {
	z-index: 10; /* textarea 앞에 위치 */
	position: absolute;
	top: 10px; /* 상단에서 10px 떨어진 위치에 배치 */
	right: 10px; /* 우측에서 10px 떨어진 위치에 배치 */
}

.word-card {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.word-content {
	display: flex;
	align-items: flex-start;
}

.pronunciation {
	font-style: italic;
}

.tox-tinymce {
	margin-top: 9px;
}

.wordCard {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: url("path_to_your_icons.png"); /* 여기에는 Bootstrap 기본 아이콘 대신 사용할 이미지의 경로를 입력해주세요. */
}

.pagination li {
	width: 50px;
	height: 20px;
	text-align: center;
}

.modifyAndDelete {
	position: absolute;
	right: 15px;
	cursor: pointer;
}

.toast-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.dirPrint {
	list-style-type: none;
	padding-left: 10px;
}

.dirPrint li {
	list-style-type:none;
}