.custom-container {
	border-radius: 15px;
	background-color: #fff;
	min-height: calc(100vh - 20px);
	margin-left: 20px;
	padding-left: 40px;
	position: absolute;
}

/* 카드 내부 아이콘 커서 포인터 추가 */
.bi-folder-plus, .bi-file-earmark-plus {
	cursor: pointer;
}

/* 폴더, 노트, 단어장에 호버될 때 수정 및 삭제 버튼 보이기 */
.folder:hover .action-icons, .note:hover .action-icons, .wordbook:hover .action-icons
	{
	display: block;
}

.dir-btn {
	border: none;
	margin-left: 5px;
}

.noteOffcanvas {
	z-index: 10; /* textarea 앞에 위치 */
	position: absolute;
	top: 18px; /* 상단에서 10px 떨어진 위치에 배치 */
	right: 60px; /* 우측에서 10px 떨어진 위치에 배치 */
}

.word-card {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.word-content {
	display: flex;
	align-items: flex-start;
}

.pronunciation {
	font-style: italic;
}

.tox-tinymce {
	margin-top: 9px;
}

