.container {
    margin-left: 60px;    
}
.d-center {
	display: flex;
	justify-content: center;
	align-content: center;
}

.card {
	height: 95vh;
	margin-top: 15px;
}

i, .participant-item, .profile-pic, .user-info {
 cursor: pointer;    
}

/* chat box */
.chatbox {
  position: relative;
  width: 100%;
  height: calc(100% - 140px);
  padding: 20px 50px;
  overflow-y: auto;
}

.profile-pic, .participant-profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

.chat {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.chat p {
  position: relative;
  right: 0;
  text-align: right;
  width: auto;
  padding: 12px;
  background-color: rgb(108, 195, 213);
  color: white;
  border-radius: 10px;
  font-size: 0.9em;
}
.chat p::before {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg,#6cc3d5 0%, #6cc3d5 50%, transparent 50%, transparent);
}
.chat p span {
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}
.outcoming {
  justify-content: flex-end;
  left:30px;
}
.incoming {
  justify-content: flex-start;
  margin-bottom: 2px;
  right:30px;
}
.incoming p {
  background-color: rgb(120, 194, 173);
  color: white;
  text-align: left;
}
.chat.incoming p::before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(225deg,#78c2ad 0%, #78c2ad 50%, transparent 50%, transparent);
}

.chatbox, .chat-box {
  list-style-type: none; 
  border-radius: 0px;
}

.chat-list-area{
    border-radius: 6px 0 0 6px;
    border-right: 0;
}

.chat-room-list-area, .participants-area {
    border-radius: 0 6px 6px 0;
}

.participants-area {
    border-left: 0;
}

.chatbox_input input {
  position: relative;
  width: 90%;
  margin: 0 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1em;
}

.chatroom-block:hover {
    background-color: #f2f2f2;
}

.chatroom-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.chatroom-time {
    font-size: 0.8em;
    color: #888;
    margin-left: auto; 
}

.chatroom-message {
    font-size: 1em;
    color: #555;
    margin-top: 5px;
}

.listHead {
	display: flex;
    align-items: center;

}

.emojionearea {
    width: calc(100% - 80px);
    height: 38px;
    min-height: 38px;    
    max-height: 38px;
    margin-left: 20px;
}


.input-group {
    flex-wrap: nowrap;
}

.bi-image {
    font-size: 28px;
}

.nickname-label {
    font-weight: bold; 
    color: #333; 
    margin-right: 5px; 
}
.message-date {
    font-size: 0.7em; 
    color: #888; 
}
