.container {
	margin-left: 60px;	
}
	
.d-center {
	display: flex;
	justify-content: center;
	align-content: center;
}

.card {
	height: 95vh;
	margin-top: 15px;
}

i {
 cursor: pointer;	
}

.chatbox {
  position: relative;
  width: 100%;
  height: calc(100% - 140px);
  padding: 50px;
  overflow-y: auto;
  background-color: #E2E2E2;
}
.chat {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}
.chat p {
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65%;
  padding: 12px;
  background: #e2f4f0;
  border-radius: 10px;
  font-size: 0.9em;
}
.chat p::before {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg,#e2f4f0 0%, #e2f4f0 50%, transparent 50%, transparent);
}
.chat p span {
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}
.outcoming {
  justify-content: flex-end;
  margin: 15px 0;
}
.incoming {
  justify-content: flex-start;
  margin-bottom: 2px;
}
.incoming p {
  background: #fff;
  text-align: left;
}
.chat.incoming p::before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(225deg,#fff 0%, #fff 50%, transparent 50%, transparent);
}
.chatbox {
  list-style-type: none; 
}




