@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    background-color: #FEFBF5;
    transition: var(--tran-05);
    display:: show;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    height: 100vh;
    width: 250px;
    padding: 10px 15px 0px 15px;
    background: var(--sidebar-color);
    border-right: 0.01px solid #000; /* 기본 모드에서의 검정색 선 */
    transition: var(--tran-05), border-color 0.3s ease;
    z-index: 100;  
}
.sidebar.close{
    width: 90px;
}

/* ===== Reusable code - Here ===== */
.sidebar li:not(.mode){
    height: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.mode {
	height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

/* =========================== */

.sidebar header{
    position: relative;
    height: 5%;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    margin-bottom: 8px;
    height: 57px;
}

.sidebar header .toggle{
    position: absolute;
    top: 90%;
    right: -28px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
/* Prevent the hover effect on a tags that contain .profile-pic-li */
.sidebar li a:hover .profile-pic-li {
    background-color: transparent;
}

/* Alternatively, if you want to prevent the hover effect on the entire a tag that contains .profile-pic-li, use this: */
.sidebar li a:has(.profile-pic-li):hover {
    background-color: transparent;
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.home{
	position: fixed;
    left: 170px;
    height: 100vh;
    width: calc(100% - 170px);
    transition: 1s;
    overflow: auto;
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 40px;
    height: 100vh;
    width: calc(100% - 40px);
}

.menu-ul {
	padding: 0px;
}

.profile-pic-li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 11px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 동그란 형태로 만듭니다 */
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 잘리지 않게 합니다 */
}

.logo-area {
	cursor: pointer;
}

/* Chrome, Safari, Edge */
.home::-webkit-scrollbar {
    display: none;
}

/* Firefox */
.home {
    scrollbar-width: none;
}

/* IE */
.home {
    -ms-overflow-style: none;
}

.city-name {
    position: absolute; /* 상위 요소를 기준으로 위치를 고정합니다. */
    bottom: 20px; /* 화면 하단에서 10px 위에 위치하도록 설정합니다. */
    right: 150px; /* 화면 좌측에서 10px 떨어진 곳에 위치하도록 설정합니다. */
    opacity: 0.9; /* 투명도를 약간 줍니다. (선택 사항) */
    background-color: rgba(0, 0, 0, 0.5); /* 배경에 약간의 투명도를 주어 텍스트가 잘 보이도록 합니다. */
    padding: 14px 10px 0 10px; /* 내부 패딩을 설정하여 텍스트와 경계 사이에 약간의 간격을 줍니다. */
    border-radius: 5px; /* 경계를 둥글게 만듭니다. */
}

.profile-pic-li {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.sidebar.close .text.logo-text {
    display: none;
}
